<div>
   <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >

      <input type="text" class="fortextbox" name="title" placeholder="Title" 
         formControlName="title">
      <br/>
         
      <input type="submit" class="forsubmit" value="Submit">

   </form>
</div>
<br>
<span class="search-spotify-view-element-text" id="search-spotify-name">Albums found:</span>
<br>
<br>
<ul class="albums-view">
  <li *ngFor="let album of spotifySearch?.spotifyAlbums">
    <img class="album-cover" src={{album.coverPath}}>
    <span class="albums-view-element-text" id="album-name">{{album.title}} </span>
    <br>
    <span class="albums-view-element-text" id="album-artist"> by {{album.artistName}} </span>
    <br>
    <span class="albums-view-element-text" id="album-release-date"> Release Date: {{album.getReleaseDate()}} </span>
    <br>
    <br>
    <br>
    <!-- <button type="button" id={{album.spotifyURI}} value="click">Add</button> -->
    <button (click)="this.addSpotifyAlbum(album.spotifyURI)">Add</button>
  </li>
</ul>