<h1 class="main-header">Albums</h1>
<ul class="albums-view">
  <li *ngFor="let album of albums">
    <img class="album-cover" src={{album.coverPath}}>
    <span routerLink="../album-view/{{album.id}}" class="albums-view-element-text" id="album-name">{{album.title}} </span>
    <br>
    <span routerLink={{album.getArtistRouterLink()}} class="albums-view-element-text" id="album-artist"> by {{album.getArtists()}} </span>
    <br>
    <span class="albums-view-element-text" id="album-release-date"> Release Date: {{album.getReleaseDate()}} </span>
  </li>
</ul>