<h2 class="band-view-element-text" id="band-name">{{band?.name}} </h2>
<br>
<br>
<br>
<br>
<img class="band-cover" src={{band?.picturePath}}>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="band-view-element-text" id="band-name">{{band?.name}}'s albums:</span>
<br>
<br>
<ul class="albums-view">
  <li *ngFor="let album of band?.albums">
    <img class="album-cover" src={{album.coverPath}}>
    <span routerLink="../../album-view/{{album.id}}" class="albums-view-element-text" id="album-name">{{album.title}} </span>
    <br>
    <span class="albums-view-element-text" id="album-release-date"> Release Date: {{album.getReleaseDate()}} </span>
  </li>
</ul>