<h2 class="album-view-element-text" id="album-name">{{album?.title}} </h2>
<br>
<br>
<br>
<span class="album-view-element-text">by {{album?.getArtists()}} </span>
<br><br>
<img class="album-cover" src={{album?.coverPath}}>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <iframe [src]="album?.spotifyPath | safe: 'url'" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->

<div [innerHTML]="album?.spotifyPath | safe: 'html'"></div>