/* album-viewComponent's private CSS styles */
.album-view {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.main-header {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-align: center;
}

.album-view a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.album-cover {
  float:left;
  margin: 0px 0px 0px 10px;
  padding: 0 0 10px;
  width: 150px;
  height: 150px;
}

.album-view-element-text {
  display: inline-block;
  font-size: big;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: absolute;
  /*left: 80px;*/
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-family: 'Noto Sans';
}

#album-name {
  font-weight: bold;
}

#album-artist {
}

#album-release-date {
}

#album-length {
}