.main-header {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-align: center;
}

.artists-view {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.artists-view li {
  position: relative;
  background-color: white;
  margin: .5em;
  padding: .3em 0;
  height: 5em;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.artists-view-element-text {
  display: inline-block;
  font-size: big;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: absolute;
  left: 80px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-family: 'Noto Sans';
}

#artists-name {
  font-weight: bold;
}

.artists-view .artists-photo {
  float:left;
  margin: 0px 0px 0px 4px;
  padding: 0 0 0px;
  object-fit: cover;
  width: 80px;
  height: 80px;
}