<h1 class="main-header">Artists</h1>
<ul class="artists-view">
<li *ngFor="let band of bands">
	<div><img class="artists-photo" src={{band.picturePath}}></div>
	<span routerLink="../band-view/{{band.id}}" class="artists-view-element-text" id="artists-name">{{band.name}}</span>
</li>

<li *ngFor="let musician of musicians">
	<img class="artists-photo" src={{musician.picturePath}}>
	<span routerLink="../musician-view/{{musician.id}}" class="artists-view-element-text" id="artists-name">{{musician.name}} {{musician.surname}}</span>
</li>
</ul>