<div>
   <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >

      <input type="text" class="fortextbox" name="title" placeholder="Title" 
         formControlName="title">
      <br/>
      
      <input type="text" class="fortextbox" name="duration" 
         placeholder="Duration" formControlName="duration">
      <br/>

      <input type="text" class="fortextbox" name="releaseDate" 
         placeholder="Release Date" formControlName="releaseDate">
      <br/>

      <input type="text" class="fortextbox" name="coverPath" 
         placeholder="Cover Path" formControlName="coverPath">
      <br/>

      <input type="text" class="fortextbox" name="spotifyPath" 
         placeholder="Spotify Path" formControlName="spotifyPath">
      <br/>

      <input type="text" class="fortextbox" name="artistName" 
         placeholder="Artist Name" formControlName="artistName">
      <br/>
      
      <input type="submit" class="forsubmit" value="Submit">

   </form>
</div>