<div>
   <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >

      <input type="text" class="fortextbox" name="name" placeholder="Name" 
         formControlName="name">
      <br/>
      
      <input type="text" class="fortextbox" name="picturePath" 
         placeholder="Picture path" formControlName="picturePath">
      <br/>

      <input type="submit" class="forsubmit" value="Submit">

   </form>
</div>