<h2 class="musician-view-element-text" id="musician-name">{{musician?.name}} {{musician?.surname}}</h2>
<br>
<br>
<br>
<br>
<img class="musician-cover" src={{musician?.picturePath}}>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="musician-view-element-text" id="musician-name">{{musician?.name}} {{musician?.surname}}'s albums:</span>
<br>
<br>
<ul class="albums-view">
  <li *ngFor="let album of musician?.albums">
    <img class="album-cover" src={{album.coverPath}}>
    <span routerLink="../../album-view/{{album.id}}" class="albums-view-element-text" id="album-name">{{album.title}} </span>
    <br>
    <span class="albums-view-element-text" id="album-release-date"> Release Date: {{album.getReleaseDate()}} </span>
  </li>
</ul>