/* musician-viewComponent's private CSS styles */
.musician-view {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.main-header {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-align: center;
}

.musician-view a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.musician-cover {
  float:left;
  margin: 0px 0px 0px 10px;
  padding: 0 0 10px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.musician-view-element-text {
  display: inline-block;
  font-size: big;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: absolute;
  /*left: 80px;*/
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-family: 'Noto Sans';
}

#musician-name {
  font-weight: bold;
}

#musician-artist {
}

#musician-release-date {
}

#musician-length {
}

/* albums-viewComponent's private CSS styles */
.albums-view {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.main-header {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-align: center;
}

.albums-view li {
  position: relative;
  background-color: white;
  margin: .5em;
  padding: .3em 0;
  height: 5em;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}
 
.albums-view a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.albums-view .album-cover {
  float:left;
  margin: 0px 0px 0px 4px;
  padding: 0 0 10px;
  width: 80px;
  height: 80px;
}

.albums-view-element-text {
  display: inline-block;
  font-size: big;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: absolute;
  left: 80px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-family: 'Noto Sans';
}

#album-name {
  font-weight: bold;
}

#album-artist {
}

#album-release-date {
}

#album-length {
}